<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title> D'Publications online! </title>
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here'>
	<link rel="shortcut icon" href="http://5.asset.soup.io/asset/3110/6037_e6c6.png" type="image/x-icon" />
	<link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
	<div class="header">
		<div id="logo"> Logo! </div>
		<div id="tagline"> "the almighty tagline~ "</div>
	</div>
	<div id="navigation">
		<div id="about"><a href="/">About</a></div>
		<div><a href="/">Yippee</a></div>
		<div><a href="/">Glorius Tags</a></div>
		<div><a href="/">Awesome awesome</a></div>
		<div id="login"><a href="/">editors login</a></div>
	</div>
	
	<div class="main">
		<div id="content">
			random random contents yay yay yay
		</div>
		<div id="sidebar">
			sidebar yay
		</div>
	</div>
</body>