<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title> ArteScape DHS </title>
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here'>
	<link rel="shortcut icon" href="http://5.asset.soup.io/asset/3110/6037_e6c6.png" type="image/x-icon" />
	<link rel="stylesheet" href="static/css/style.css" />
	
	<script>
function myFunction()
{
alert("Please login to comment.");
}
</script>

</head>
 
<body>
	<div id="dashboard">
	<span>Welcome, {{name}}</span>
	<span> <a href="{{ url }}">{{ url_linktext }}</a></span>
	</div>
	
	{% if msg == 1 %}
		<div id="firsttime">Welcome to ArteScape DHS for the first time! </br>
		(this will only display on your first login)</br>
		<b>To start off your journey, go to your profile by clicking on your name.</b>
		</div>
	{% endif %}
	<form action="/sign" method="post">
		<div><textarea name="content" rows="3"></textarea></div>
		{% if name != "guest" %}
			<div><input type="submit" value="comment"></div>
		{% else %}
			<div><input type="button" onclick="myFunction()" value="comment"></div>
		{% endif %}
	</form>
	</br>
	
	<div id="comments">
	{% for greeting in greetings %}
		{% if greeting.author != currentuser %}
			<em>{{ '{0.day}/{0.month}/{0.year} {0.hour}:{0.minute}'.format(greeting.date)}} </em>
			<b>{{ greeting.author }}</b> wrote:
		{% elif greeting.author == currentuser %}
			<em>{{ '{0.day}/{0.month}/{0.year} {0.hour}:{0.minute}'.format(greeting.date)}} </em>
			<b>{{ greeting.author }}</b> wrote:
		{% endif %}
		<blockquote>{{ greeting.content|escape }}</blockquote>
	{% endfor %}
	</div>
</body>
</html> 