<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title> ArteScape DHS </title>
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here'>
	<link rel="shortcut icon" href="http://5.asset.soup.io/asset/3110/6037_e6c6.png" type="image/x-icon" />
	<link rel="stylesheet" href="static/css/style.css" />
</head>
 
<body>
	<div id="loginout"><a href="{{ url }}">{{ url_linktext }}</a></div>

	<form action="/sign" method="post">
		<div><textarea name="content" rows="3" cols="60"></textarea></div>
		<div><input type="submit" value="Sign Guestbook"></div>
	</form>
	
	</br>
	
	<div id="guestnotes">
	{% for greeting in greetings %}
		{% if greeting.author %}
			<b>{{ greeting.author }}</b> wrote:
		{% else %}
			An anonymous person wrote:
		{% endif %}
		<blockquote>{{ greeting.content|escape }}</blockquote>
	{% endfor %}
	</div>
</body>
</html> 