<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>tubular, a YouTube Background Player jQuery Plugin | Sean McCambridge Design</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/png" href="/media/layout/favicon.png" />

	<link href="../../static/css/screen.css" rel="stylesheet" type="text/css" /> 

	<script src="http://code.jquery.com/jquery-1.4.3.min.js" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8" src="../../static/js/jquery.tubular.1.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="../../static/js/index.js"></script>

</head>
<body>
<div id="wrapper" class="clearfix">

</div><!-- #wrapper -->
</body>
</html>