
<!DOCTYPE HTML>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class="layout-background-video">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Spotify is a digital music service that gives you access to millions of songs.">
    <meta name="keywords" content="Spotify, music, online, listen, streaming, play, digital, album, artist, playlist">
    <meta property="fb:app_id" content="174829003346">
    <meta property="og:title" content="Music for every moment - Spotify">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.spotify.com/video-splash/">
    <meta property="og:image" content="https://d2c87l0yth4zbw.cloudfront.net/i/_global/open-graph-default.png">
    <meta property="og:description" content="Spotify is a digital music service that gives you access to millions of songs.">
    <meta name="apple-itunes-app" content="app-id=324684580">

    <title>Music for every moment - Spotify</title>

    <link rel="icon" href="https://d2c87l0yth4zbw.cloudfront.net/i/_global/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="https://d2c87l0yth4zbw.cloudfront.net/i/_global/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://d2c87l0yth4zbw.cloudfront.net/i/_global/touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://d2c87l0yth4zbw.cloudfront.net/i/_global/touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://d2c87l0yth4zbw.cloudfront.net/i/_global/touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="https://d2c87l0yth4zbw.cloudfront.net/i/_global/touch-icon-57.png">


    <link type="text/css" rel="stylesheet" href="//fast.fonts.com/cssapi/6f15ec34-fe68-4dba-a329-3fae6d98b9d2.css">
    <link rel="stylesheet" type="text/css" href="https://d2c87l0yth4zbw.cloudfront.net/css/reboot.css" media="all">


    <script type="text/javascript">
        var spweb = {"config":{"environment":{"staticUrl":"https:\/\/d2c87l0yth4zbw.cloudfront.net"},"facebook":{"appId":174829003346,"locale":"en_GB"},"ga":{"enable":true,"trackingId":"UA-5784146-1"},"twitter":{"enable":true}}};
        spweb.isLinkUser = true;
    </script>
    <script src="https://d2c87l0yth4zbw.cloudfront.net/js/head.js"></script>

</head>

<body class="m-uk l-en page-video-splash  is-loggedout reboot">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-8F8D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-8F8D');</script>
<!-- End Google Tag Manager -->

  <div id="fb-root"></div>
  <div class="wrap">

  <header class="header-main">
    <div class="container">

<a class="logo" href="/uk/">
  <img src="https://d2c87l0yth4zbw.cloudfront.net/i/_global/logo.png" alt="Spotify">
</a>

      <div id="js-audio-control" class="audio-control audio-off"></div>
    </div>
  </header>

  <div class="content-main">
    <div class="container">
      <div class="l-box">
        <h1>Music for every moment</h1>

        <a href="/uk/redirect/webplayer/"
        id="button-play"
        class="js-ga-event link-show button button-primary button-highlight"
        data-ga-event-category="acquisition"
        data-ga-event-action="play"
        data-ga-event-label="splash_page">
          Play        </a>
        <p class="more">
          <a href="/uk/"
          id="link-find-out-more"
          class="link-more js-ga-event"
          data-ga-event-category="moreinfo"
          data-ga-event-action="findmore"
          data-ga-event-label="splash_page">
            Find out more          </a>
        </p>
      </div>
    </div>
  </div>
  <footer class="footer-main">
    <div class="container">
      <small class="legal">By using Spotify, you agree to our <a id="link-agree-terms" href="/uk/legal/end-user-agreement/" target="_blank">terms & conditions</a> and <a id="link-agree-privacy-policy" href="/uk/legal/privacy-policy/" target="_blank">privacy policy</a>.</small>
    </div>
  </footer>

  </div><!-- /wrap -->

<div class="controls controls-day">
  <input
  type="number"
  id="register-dob-day"
  class="dob"
  name="dob_day"
  placeholder="day"
  pattern="[0-9]*"
  maxlength="2"
  min="1"
  max="31"
  required
  data-msg-required="When were you born?"
  data-msg-min="Please enter a valid day of the month."
  data-msg-max="Please enter a valid day of the month.">
</div>

<script src="https://d2c87l0yth4zbw.cloudfront.net/js/vendors.js"></script>
<!--[if lt IE 9]>
    <script src="https://d2c87l0yth4zbw.cloudfront.net/js/ie-support.js"></script>
<![endif]-->
<script src="https://d2c87l0yth4zbw.cloudfront.net/js/parallaxScroller.js" id="spweb" data-static-url="https://d2c87l0yth4zbw.cloudfront.net"></script>
<script src="https://d2c87l0yth4zbw.cloudfront.net/js/awe-wait-for-it-some.js" id="spweb" data-static-url="https://d2c87l0yth4zbw.cloudfront.net"></script>
<script type="text/javascript">
//<![CDATA[
//]]>
</script>

</body>
</html>
