
<!DOCTYPE HTML>
<html lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" class="layout-background-video">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Countdown to Nala's exam dates here through days left.">
    <meta name="keywords" content="Artescape, DHS, Dunman High, Dunman High School, countdown, days left, exams, count down, art, escape, arte, scape">
    <meta property="og:title" content="DHS ArteScape -Exam Countdown">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://artescape.dhs.sg/countdown">
    <meta property="og:image" content="http://artescape.dhs.sg/mainimages/ag5zfmRoc2FydGVzY2FwZXIMCxIEUG9zdBiJngMM">
    <meta property="og:description" content="Countdown to Nala's exam dates here through days left.">
    <link type="text/css" rel="stylesheet" href="//fast.fonts.com/cssapi/6f15ec34-fe68-4dba-a329-3fae6d98b9d2.css">
    <link rel="stylesheet" type="text/css" href="https://d2c87l0yth4zbw.cloudfront.net/css/reboot.css" media="all">
    <script type="text/javascript">
        var spweb = {"config":{"environment":{"staticUrl":"https:\/\/d2c87l0yth4zbw.cloudfront.net"},"facebook":{"appId":174829003346,"locale":"en_GB"},"ga":{"enable":true,"trackingId":"UA-5784146-1"},"twitter":{"enable":true}}};
        spweb.isLinkUser = true;
    </script>
    <script src="https://d2c87l0yth4zbw.cloudfront.net/js/head.js"></script>
	<link rel="stylesheet" href="../static/css/countdown.css" /><link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
</head>

<body class="m-uk l-en page-video-splash  is-loggedout reboot">

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-8F8D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-8F8D');</script>
<!-- End Google Tag Manager -->

  <div id="fb-root"></div>
  <div class="wrap">

  <header class="header-main">
    <div class="container">
	<div class="logo"><div id="time">
<script type="text/javascript">
<!--
var currentTime = new Date()
var month = currentTime.getMonth() + 1
var day = currentTime.getDate()
var year = currentTime.getFullYear()
document.write(month + "/" + day + "/" + year)
//-->
</script>
</div></div>
      <div id="js-audio-control" class="audio-control audio-off"></div>
    </div>
  </header>

  <div class="content-main">
    <div class="container">
      <div class="l-box">
       
<div id="shell">
<div id="countdown">
<div id="left">days left</div><div id="number">
<script type="text/javascript">
<!--
var datedue = 1
var monthdue = 7
var currentTime = new Date()
var month = currentTime.getMonth() + 1
var day = currentTime.getDate()
var monthcheck = monthdue-month <!--days in june 30 !-->
if(monthcheck ==1){
var daysleft = 30-day + datedue;
document.write(daysleft); }
else if(monthcheck ==0) {
var daysleft = datedue-day;
document.write(daysleft); }
else {document.write("too far off.");}
//-->
</script></div><div id="cdtitle">Econs CT</div></div>
<div id="countdown">
<div id="left">days left</div><div id="number">
<script type="text/javascript">
<!--
var datedue = 2
var monthdue = 7
var currentTime = new Date()
var month = currentTime.getMonth() + 1
var day = currentTime.getDate()
var monthcheck = monthdue-month <!--days in june 30 !-->
if(monthcheck ==1){
var daysleft = 30-day + datedue;
document.write(daysleft); }
else if(monthcheck ==0) {
var daysleft = datedue-day;
document.write(daysleft); }
else {document.write("too far off.");}
//-->
</script></div><div id="cdtitle">Comp CT</div></div>
<div id="countdown">
<div id="left">days left</div><div id="number">
<script type="text/javascript">
<!--
var datedue = 4
var monthdue = 7
var currentTime = new Date()
var month = currentTime.getMonth() + 1
var day = currentTime.getDate()
var monthcheck = monthdue-month <!--days in june 30 !-->
if(monthcheck ==1){
var daysleft = 30-day + datedue;
document.write(daysleft); }
else if(monthcheck ==0) {
var daysleft = datedue-day;
document.write(daysleft); }
else {document.write("too far off.");}
//-->
</script></div><div id="cdtitle">Maths CT</div></div>
<div id="countdown">
<div id="left">days left</div><div id="number">
<script type="text/javascript">
<!--
var datedue = 5
var monthdue = 7
var currentTime = new Date()
var month = currentTime.getMonth() + 1
var day = currentTime.getDate()
var monthcheck = monthdue-month <!--days in june 30 !-->
if(monthcheck ==1){
var daysleft = 30-day + datedue;
document.write(daysleft); }
else if(monthcheck ==0) {
var daysleft = datedue-day;
document.write(daysleft); }
else {document.write("too far off.");}
//-->
</script></div><div id="cdtitle">Physics CT</div></div></div>
<!--if(monthcheck == 0){
var daysleft = datedue-day
	if(daysleft >= 0) {
	document.write(daysleft);}
	else {document.write(over);}}
elif(monthcheck < 0){document.write(daysleft);}
else {  !-->
<div id="quote">  The decisions that you take should bring you closer to (not further from) your goals. Study Hard.</div>	
		
        </p>
      </div>
    </div>
  </div>

  </div><!-- /wrap -->
<script src="https://d2c87l0yth4zbw.cloudfront.net/js/vendors.js"></script>
<!--[if lt IE 9]>
    <script src="https://d2c87l0yth4zbw.cloudfront.net/js/ie-support.js"></script>
<![endif]-->
<script src="https://d2c87l0yth4zbw.cloudfront.net/js/parallaxScroller.js" id="spweb" data-static-url="https://d2c87l0yth4zbw.cloudfront.net"></script>
<script src="https://d2c87l0yth4zbw.cloudfront.net/js/awe-wait-for-it-some.js" id="spweb" data-static-url="https://d2c87l0yth4zbw.cloudfront.net"></script>
<script type="text/javascript">
//<![CDATA[
//]]>
</script>

</body>
</html>
